@{
    ViewData["Title"] = "Concluído!";
}

<h2>Item cadastrado.</h2>                            
<p><a asp-action="Cadastro">Incluir mais itens</a></p>
<p><a asp-action="Listagem">Ver listagem do pedido</a></p>